html,
body {
  height: 100%;
}

.jquery-timer {
  display: flex;
}

.jquery-timer-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  text-align: center;
}

.jquery-timer-wrapper > div {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  font-weight: bold;
}

.jquery-timer-wrapper .jquery-timer-time {
  width: 112px;
  height: 87px;
  font-size: 3em;
  background: url(/img/counter.png) no-repeat center center;
  color: white;
}

.jquery-timer-wrapper .jquery-timer-time:after {
  content: "";
  display: block;
  width: 100%;
  height: 13px;
  background: url(/img/line.png) no-repeat center center;
  transform: translateY(-40px);
}

